:root {
  --primaryColor: #ff6565;
}

.bg-indigo-600 {
  background-color: var(--primaryColor) !important;
}
.text-indigo-600,
.text-gray-900 {
  color: var(--primaryColor) !important;
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.mt-2 {
  margin-top: 0 !important;
}
.ring-gray-300 {
  --tw-ring-color: rgb(255 101 101) !important;
  outline: #ff6565;
  color: #000 !important;
  padding-left: 10px !important;
}
