* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-indigo-600 {
  background-color: #ff6565 !important;
}
.text-indigo-600,
.text-gray-900 {
  color: #ff6565 !important;
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.mt-2 {
  margin-top: 0 !important;
}
.ring-gray-300 {
  --tw-ring-color: rgb(255 101 101) !important;
  outline: #ff6565;
  color: #000 !important;
  padding-left: 10px !important;
}

/* Main page */

.containers {
  width: 1350px;
  background-color: #f6f6f6;
  margin: 0 auto;
  min-height: 100vh;
}
.box {
  padding: 20px 50px;
}

/* Header Section */
.box header,
main {
  padding: 10px;
}
.box header {
  background-color: #ff6565;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 5px;
}
div#clock,
div#newTask,
div#namazR {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  width: 30%;
  user-select: none;
  transition: all 0.3s linear;
}
div#newTask:hover,
div#namazR:hover {
  background-color: #f6f6f6;
  color: #ff6565;
  border-radius: 5px;
}
#newTask p,
#namazR p {
  border: 1px solid #f6f6f6;
  padding: 20px 0;
  cursor: pointer;
  border-radius: 5px;
}
.fa-solid,
.fas {
  font-weight: 900;
  margin: 0 15px;
}
/* Main Section User Input */
.box main {
  background-color: #fff;
  color: #ff6565;
}
#userinput {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 600;
  user-select: none;
  transition: all 0.3s linear;
  align-items: center;
  flex-wrap: wrap;
}
#inputField {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}
#btn {
  font-size: 1.5em;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}
.userfield {
  border: 1px solid;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
